.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# IDE stuff
thread-in-java.iml
thread-in-java.ipr
thread-in-java.iws

# Intellij build folder
out/
